/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/sections/_header.scss */
body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* line 7, ../sass/sections/_header.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/sections/_header.scss */
.container {
  max-width: 960px;
}

/* line 17, ../sass/sections/_header.scss */
.bg-black {
  background-color: #000000;
}
/* line 21, ../sass/sections/_header.scss */
.bg-dark {
  background-color: #666666;
}

/* line 28, ../sass/sections/_header.scss */
.header-top {
  color: #85939f;
  height: 48px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.15);
}
/* line 33, ../sass/sections/_header.scss */
.header-top-link {
  position: relative;
  color: #85939f;
  padding-left: 20px;
  font-size: 11px;
  line-height: 35px;
  margin-left: 35px;
}
/* line 41, ../sass/sections/_header.scss */
.header-top-link:hover {
  text-decoration: none;
  color: #fff;
}
/* line 48, ../sass/sections/_header.scss */
.header-top .btn {
  background-color: transparent;
  padding: 0;
  margin-left: -20px;
  width: 14px;
  height: 13px;
  background: url("../../img/search.png") no-repeat center center;
  cursor: pointer;
}
/* line 58, ../sass/sections/_header.scss */
.header-top .navbar-nav {
  flex-direction: row;
}

/* line 66, ../sass/sections/_header.scss */
.icon-login:before {
  content: '';
  background: url("../../img/login.png") no-repeat center center;
  display: block;
  width: 14px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 70, ../sass/sections/_header.scss */
.icon-register:before {
  content: '';
  background: url("../../img/regist.png") no-repeat center center;
  display: block;
  width: 14px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 75, ../sass/sections/_header.scss */
.navbar {
  padding: 12px;
}

/* line 81, ../sass/sections/_header.scss */
.form-inline {
  flex-wrap: nowrap;
}
/* line 85, ../sass/sections/_header.scss */
.form-control {
  border: 1px solid rgba(133, 147, 159, 0.5);
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  padding: 4px 20px 4px 10px;
}
/* line 92, ../sass/sections/_header.scss */
.form-control:placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* line 101, ../sass/sections/_header.scss */
.nav-link {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 992px) {
  /* line 110, ../sass/sections/_header.scss */
  .navbar {
    padding: 0;
  }

  /* line 114, ../sass/sections/_header.scss */
  .nav-item {
    width: 99px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* line 124, ../sass/sections/_header.scss */
  .border-yellow {
    border-top: 10px solid #ffae00;
  }
  /* line 128, ../sass/sections/_header.scss */
  .border-orange {
    border-top: 10px solid #fc7100;
  }
  /* line 132, ../sass/sections/_header.scss */
  .border-pink {
    border-top: 10px solid #e51c5e;
  }
  /* line 136, ../sass/sections/_header.scss */
  .border-purple {
    border-top: 10px solid #ae0f8d;
  }
  /* line 140, ../sass/sections/_header.scss */
  .border-violet {
    border-top: 10px solid #6d0fae;
  }
  /* line 144, ../sass/sections/_header.scss */
  .border-blue {
    border-top: 10px solid #33227a;
  }
  /* line 148, ../sass/sections/_header.scss */
  .border-aqua {
    border-top: 10px solid #0c8fcc;
  }
}
/* line 1, ../sass/sections/_welcome-section.scss */
.welcome-section {
  position: relative;
  margin-top: 122px;
}
/* line 5, ../sass/sections/_welcome-section.scss */
.welcome-section-img {
  height: calc(100vh - 122px);
  overflow: hidden;
  object-fit: cover;
}
/* line 11, ../sass/sections/_welcome-section.scss */
.welcome-section .carousel-indicators {
  margin-bottom: 25px;
}

/* line 16, ../sass/sections/_welcome-section.scss */
.main {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 23, ../sass/sections/_welcome-section.scss */
.main .container {
  max-width: 628px;
}
/* line 27, ../sass/sections/_welcome-section.scss */
.main-heading {
  font-size: 5vmax;
  color: #fff;
}
/* line 31, ../sass/sections/_welcome-section.scss */
.main-heading:first-child {
  color: #02baab;
  margin-bottom: 15px;
}
/* line 37, ../sass/sections/_welcome-section.scss */
.main-header {
  margin-bottom: 80px;
}
/* line 41, ../sass/sections/_welcome-section.scss */
.main .btn {
  margin: 15px;
}

/* line 47, ../sass/sections/_welcome-section.scss */
.btn {
  padding: 0;
}
/* line 50, ../sass/sections/_welcome-section.scss */
.btn-primary {
  color: #02baab;
  background-color: transparent;
  border-color: #02baab;
}
/* line 56, ../sass/sections/_welcome-section.scss */
.btn-lg {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 35px;
  border-radius: 0;
  border-width: 2px;
  width: 140px;
  height: 40px;
  padding: 0;
}
/* line 69, ../sass/sections/_welcome-section.scss */
.btn:hover {
  color: #fff;
  background-color: #02baab;
  border-color: #02baab;
}

/* line 76, ../sass/sections/_welcome-section.scss */
.carousel-indicators .active {
  background-color: #02baab;
}

/* line 1, ../sass/sections/_info-section.scss */
.info-section {
  padding: 100px 0;
  color: #3b4954;
}
/* line 5, ../sass/sections/_info-section.scss */
.info-section .container {
  max-width: 766px;
}

/* line 12, ../sass/sections/_info-section.scss */
.header-section {
  font-size: 36px;
  margin-bottom: 50px;
}
/* line 16, ../sass/sections/_info-section.scss */
.header-section:after {
  border-bottom-color: #eeeeee;
  padding-top: 30px;
  content: '';
  display: block;
  margin: 0 auto;
  width: 50px;
  border-bottom-style: inset;
  border-bottom-width: 5px;
}
/* line 21, ../sass/sections/_info-section.scss */
.header-content {
  line-height: 30px;
  margin-bottom: 40px;
}

/* line 1, ../sass/sections/_last-works.scss */
.last-works {
  min-height: 100vh;
  background: url(../../img/water.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 11, ../sass/sections/_last-works.scss */
.last-works .container {
  max-width: 766px;
}

/* line 1, ../sass/sections/_buy-now.scss */
.buy-now {
  background-color: #02baab;
  padding: 50px 0;
  color: #fff;
}
/* line 6, ../sass/sections/_buy-now.scss */
.buy-now .container {
  max-width: 880px;
}
/* line 10, ../sass/sections/_buy-now.scss */
.buy-now h3 {
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 645px) {
  /* line 17, ../sass/sections/_buy-now.scss */
  .buy-now .container {
    text-align: center;
    flex-direction: column;
  }
  /* line 22, ../sass/sections/_buy-now.scss */
  .buy-now h3 {
    margin-bottom: 20px;
  }
}
/* line 29, ../sass/sections/_buy-now.scss */
.buy-now .btn-primary {
  color: #fff;
  border-color: #fff;
}
/* line 34, ../sass/sections/_buy-now.scss */
.buy-now .btn-lg {
  padding-left: 10px;
}

/* line 41, ../sass/sections/_buy-now.scss */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

/* line 52, ../sass/sections/_buy-now.scss */
.hvr-icon-forward:before {
  content: "\f105";
  position: absolute;
  right: 0.8em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 67, ../sass/sections/_buy-now.scss */
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* line 1, ../sass/sections/_features.scss */
.features {
  min-height: 100vh;
  color: #3b4954;
  padding: 80px 0;
}
/* line 6, ../sass/sections/_features.scss */
.features .container {
  max-width: 915px;
}
/* line 10, ../sass/sections/_features.scss */
.features .row {
  margin: 0;
}
/* line 14, ../sass/sections/_features.scss */
.features .list-item {
  position: relative;
  padding-left: 60px;
  padding-top: 5px;
  margin-bottom: 30px;
}
/* line 20, ../sass/sections/_features.scss */
.features .list-item h4 {
  color: #3b4954;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
/* line 27, ../sass/sections/_features.scss */
.features .list-item p {
  font-size: 14px;
  line-height: 24px;
}

/* line 36, ../sass/sections/_features.scss */
.icon-star:before {
  content: '';
  background: url("../../img/star.png") no-repeat center center;
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 40, ../sass/sections/_features.scss */
.icon-winner:before {
  content: '';
  background: url("../../img/winner.png") no-repeat center center;
  display: block;
  width: 35px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 44, ../sass/sections/_features.scss */
.icon-stick:before {
  content: '';
  background: url("../../img/stick.png") no-repeat center center;
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 48, ../sass/sections/_features.scss */
.icon-cloud:before {
  content: '';
  background: url("../../img/cloud.png") no-repeat center center;
  display: block;
  width: 40px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 1, ../sass/sections/_blockquote.scss */
.blockquote {
  position: relative;
}
/* line 4, ../sass/sections/_blockquote.scss */
.blockquote-main {
  color: #fff;
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 80px;
}
@media (max-width: 765px) {
  /* line 4, ../sass/sections/_blockquote.scss */
  .blockquote-main {
    font-size: 15px;
    line-height: 20px;
  }
}
/* line 17, ../sass/sections/_blockquote.scss */
.blockquote-author {
  color: #02baab;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 25, ../sass/sections/_blockquote.scss */
.blockquote-img {
  height: 450px;
  overflow: hidden;
  object-fit: cover;
}
@media (max-width: 765px) {
  /* line 25, ../sass/sections/_blockquote.scss */
  .blockquote-img {
    height: calc(100vh - 122px);
  }
}
/* line 35, ../sass/sections/_blockquote.scss */
.blockquote .carousel-indicators {
  margin-bottom: 50px;
}
/* line 38, ../sass/sections/_blockquote.scss */
.blockquote .carousel-indicators li {
  border-radius: 50%;
  width: 8px;
  height: 7px;
}

/* line 48, ../sass/sections/_blockquote.scss */
.icon-quotes:before {
  content: '';
  background: url("../../img/quotes.png") no-repeat center center;
  display: block;
  width: 44px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

/* line 1, ../sass/sections/_blog-posts.scss */
.blog-posts {
  min-height: 100vh;
  padding: 100px 0;
}
@media (max-width: 991px) {
  /* line 1, ../sass/sections/_blog-posts.scss */
  .blog-posts {
    text-align: center;
  }
}
/* line 9, ../sass/sections/_blog-posts.scss */
.blog-posts .container {
  max-width: 960px;
}
/* line 14, ../sass/sections/_blog-posts.scss */
.blog-posts-link {
  color: #02baab;
}
/* line 17, ../sass/sections/_blog-posts.scss */
.blog-posts-link:hover {
  text-decoration: none;
  color: #6d0fae;
}
/* line 23, ../sass/sections/_blog-posts.scss */
.blog-posts-item {
  font-size: 14px;
}
@media (max-width: 991px) {
  /* line 23, ../sass/sections/_blog-posts.scss */
  .blog-posts-item {
    margin-bottom: 50px;
  }
}
/* line 30, ../sass/sections/_blog-posts.scss */
.blog-posts-item:after {
  border-bottom-color: #c3c3c3;
  content: '';
  display: block;
  margin: 0 auto;
  width: 290px;
  border-bottom-style: inset;
  border-bottom-width: 1px;
}
/* line 40, ../sass/sections/_blog-posts.scss */
.blog-posts-item h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
/* line 46, ../sass/sections/_blog-posts.scss */
.blog-posts-item p {
  color: #555;
  margin-bottom: 15px;
  line-height: 24px;
}
/* line 54, ../sass/sections/_blog-posts.scss */
.blog-posts-img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 59, ../sass/sections/_blog-posts.scss */
.blog-posts .col-12 {
  flex: 0 0 60%;
}

/* line 67, ../sass/sections/_blog-posts.scss */
.icon-comment {
  position: relative;
  padding-left: 25px;
  line-height: 14px !important;
}
/* line 72, ../sass/sections/_blog-posts.scss */
.icon-comment:before {
  content: '';
  background: url("../../img/comment.png") no-repeat center center;
  display: block;
  width: 19px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 76, ../sass/sections/_blog-posts.scss */
.icon-comment:hover:before {
  content: '';
  background: url("../../img/comment-hover.png") no-repeat center center;
  display: block;
  width: 19px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0;
}
