.last-works {
    background: url(../../img/bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 740px;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container {
        max-width: 766px;
    }
}

